:root{
  --primary-color: hsl(24deg 24% 96%);
  --monami-color-4: hsl(39deg 45% 36%);
  --monami-color-5: hsl(39deg 49% 58%);
  --dark-font: hsl(0deg 0% 6%);
  --font: hsl(0deg 0% 35%);
  --navbar-height: 40px;
  --menu-width: 300px;
  --base-padding: 10px;
  --rounded-md: 6px;
  --content-space:40px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

.font-title{
  font-family: var(--title-font);
  letter-spacing: 1px;
}

.text-primary {
  color: var(--primary-color);
}

.rounded-md{
  border-radius: var(--rounded-md);
}

.uppercase{
  text-transform: uppercase;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

body {
  background-color: var(--primary-color);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  left: 0;
  right: 0;
  padding: var(--base-padding);
  background-color: #fff;
  z-index: 10;
  width: 100%;
  margin: auto;
}

a {
  color: var(--dark-font);
  text-decoration: none;
}

.menu-modal{
  top: var(--navbar-height);
}

.menu-modal > .MuiModal-backdrop{
  top: var(--navbar-height);
}
.menu-modal > .MuiPaper-root{
  top: var(--navbar-height);
}

nav a.active{
 border-bottom: 1px solid var(--dark-font);

}

nav {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  width: var(--menu-width);
  background-color: var(--primary-color);
  height: 100%;
}

nav .menu-list{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 68%;
}
/* nav .menu-list .menu-item a{
  
} */


main {
 margin-top: var(--navbar-height);
}

main .content{
  padding-top: var(--content-space);
}

main .categories-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .categories-container .category-card{
  padding: 10px;
} 

main .categories-container .category-card .category-image{
  display: flex;
}

main .categories-container .category-card .category-image img{
  opacity: 0.9;
}

main .categories-container .category-card .category-title{
  position: absolute;
  inset: 0;
  display: flex;
  padding: inherit;
  justify-content: center;
  align-items: center;
}

.category-image:after{
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000003d;
  border-radius: var(--rounded-md);
}

.pointer{
  cursor: pointer;
}

.logo-container{
  display: flex;
}

.cart-btn {
  display: flex;
}

.cart-btn img{
  opacity: 0.7;
}

.cart-container{
  height: 100%;
  width: var(--menu-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--base-padding);
  background-color: #fff;
}

.giftcaft-container{
  border: 1px solid var(--monami-color-5);
  max-width: 320px;
  margin: auto;
  text-align: center;
  padding: 10px;
  background: white;
  color: var(--monami-color-4);
}

.hamburger-menu-container{
  z-index: 5000;
}

.hamburger.is-active:hover, .hamburger:hover {
  opacity: .7;
}

.hamburger {
  font: inherit;
  display: flex;
  overflow: visible;
  margin: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 22px;
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: .13s;
  transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  transition-duration: .13s;
}

.hamburger-inner {
  display: block;
  margin-top: -2px;
}

.hamburger--collapse .hamburger-inner:before {
  transition: top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
}

.hamburger-inner:before {
  top: -7px;
}

.hamburger--collapse .hamburger-inner:after {
  top: -15px;
  transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear;
}
.hamburger-inner:after {
  bottom: -7px;
}

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: "";
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 25px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: var(--dark-font);
}

.hamburger--collapse.active .hamburger-inner {
  transition-delay: .22s;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transform: translate3d(0,-10px,0) rotate(-45deg);
}

.hamburger--collapse.active .hamburger-inner:before {
  top: 0;
  transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s;
  transform: rotate(-90deg);
}

.hamburger--collapse.active .hamburger-inner:after {
  top: 0;
  transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
  opacity: 0;
}